# کتابخانه‌ها و پکیج‌ها
vendor/
node_modules/

# فایل‌های حساس (خیلی مهم)
config.php
.env

# فایل‌های داده و لاگ
*.log
error_log*
*.txt
*.json
!composer.json
!words.json

# فایل‌های سیستمی و فشرده
.DS_Store
.ftpquota
*.zip
*.rar
